*{
    margin :0;
    padding :0;
    box-sizing: border-box;
    font-family:sans-serif
}
.wrapper .carousel{
    white-space: nowrap;
    font-size: 0px;
        cursor: pointer;
        overflow : hidden;
        scroll-behavior: smooth;;
}
body {
    display :flex;
    align-items :center;
    padding : 0 35px;
    justify-content: center;
    min-height : 100vh;
    background: #343f4f  ;
}
.wrapper{
    max-width : 1200px;
    position: relative;
  
}
.wrapper i {
     position  : absolute;
    top :50%;
    height : 46px;
    width : 46px;
    text-align :center;
    font-size : 1.2rem;
    cursor : pointer;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    padding : 5px 10px;
    font-weight: 600;

    transform: translateY(-50%);
}
.wrapper i:first-child{
    left:-23px;
    display :none;
}
.wrapper i:last-child {
right: -23px;
}
.carousel > img {
    height : 340px;
    width : calc(100% / 3);
    object-fit:cover;
    margin-left : 14px;
    
}.carousel img:first-child{
    margin-left :0px;
}

@media screen and (max-width : 900px){
    .carousel img {
        width : calc(100%/2)
    }
}

@media screen and (max-width :550px) {
    .carousel img {
        width: 100%
    }
}

.carousel.dragging {
    cursor : grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}